@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

img,
video,
iframe {
    vertical-align: middle;
}

body {
    font-family: 'SUIT', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #f3f7ff;
}

/*top*/
#top {
    background-color: rgba(206, 152, 65, 0.7);
}

.top_inner {
    margin: 0 auto;
    width: 1320px;
    display: flex;
    justify-content: right;
    font-size: 15px;
}

.top_inner ul {
    display: flex;
}

.top_inner ul li {
    padding: 5px 0;
}

.top_inner ul li:nth-child(1) {
    padding-right: 10px;
}

.top_inner ul li:nth-child(3) {
    padding-left: 10px;
}

/*header*/
#header {
    background-color: #202e48;
}

.header_inner {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#gnb>ul {
    display: flex;
}

#gnb>ul>li {
    font-size: 18px;
    position: relative;
    padding: 40px;
    z-index: 10;
    cursor: pointer;
}

.sub {
    width: 160px;
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -80px;
}

.sub>li>a {
    display: block;
    border-bottom: 1px solid rgba(90, 69, 35, 0.5);
    font-size: 14px;
    font-weight: normal;
    padding: 10px 0;
    text-align: center;
}

.sub {
    display: none;
}

.sub li {
    background-color: rgba(206, 153, 66, 0.8)
}

#gnb li:hover .sub {
    display: block;
    opacity: 1;
    transform: scaleY(1);
    transition: all 0.5s;
}

.sub li:last-child {
    background: rgba(206, 153, 66, 0.8) url(../images/sub_icon.png) no-repeat center;
}

/*if_subscribe*/
.if_subscribe {
    background-color: #fffffd;
    height: 580px;
}

.if_inner {
    margin: 0 auto;
    width: 1320px;
    text-align: center;
    padding-top: 80px;
    color: #190a06;
}

.if_inner h1 {
    padding-top: 18px;
    padding-bottom: 100px;
    font-size: 38px;
}

.if_inner ul {
    display: flex;
    justify-content: space-around;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(20deg);
    }
}

.if_icon:hover {
    animation: rotate 0.6s linear;
}

/*subscribe_box*/
.subscribe_box {
    background-color: #fff3f3;
    height: 940px;
}

.subbox_inner {
    margin: 0 auto;
    width: 1320px;
    text-align: center;
    color: #190a06;
    position: relative;
}

.subbox_inner h1 {
    text-align: left;
    padding-top: 80px;
    padding-bottom: 60px;
}

.tabs {
    display: flex;
    position: absolute;
    top: 145px;
    right: 75px;
}

.tab_content {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.tabs li a {
    display: block;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
}

.tabs li:nth-child(1) {
    background-color: #813429;
    border-radius: 50% 50% 0 0;
    padding: 10px 25px;
}

.tabs li:nth-child(2) {
    background-color: #1f411d;
    border-radius: 50% 50% 0 0;
    padding: 10px 25px;
}

.tabs li:nth-child(3) {
    background-color: #26336f;
    border-radius: 50% 50% 0 0;
    padding: 10px 25px;
}

/*question*/
.question {
    background-color: #fffffd;
    height: 1050px;
    overflow: hidden;
}

.question_inner {
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    color: #190a06;
}

.question_inner h1 {
    font-size: 40px;
    line-height: 70px;
    padding-top: 150px;
    text-align: center;
}

.question_deco>h1 img {
    padding-right: 25px;
}

.title_in img {
    padding-right: 25px;
}

.ask {
    width: 920px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}

.ask>ul>li {
    padding-top: 20px;
    border-bottom: 1.5px solid #190a06;
}


/*배경페이지 데코*/
.question_deco {
    position: relative;
}

.queright1 {
    position: absolute;
    top: 80px;
    right: -305px;
    z-index: 88;
}

.queright2 {
    position: absolute;
    right: -200px;
    top: 340px;
}

.queleft1 {
    position: absolute;
    left: -320px;
    top: 550px;
}

.queleft2 {
    position: absolute;
    left: 10px;
    top: 830px;
}

/*제목부분*/
.title {
    overflow: hidden;
    padding: 0 10px;
    padding-bottom: 30px;
}

.title_in {
    float: left;
    font-size: 24px;
    font-weight: 600;
    padding-top: 20px;
}

.icon {
    float: right;
}

.ask_info {
    display: none;
    text-align: left;
    font-size: 17px;
    padding-left: 70px;
    padding-bottom: 30px;
}

.plus {
    float: right;
}

/*+모양 회전관련 속성. 요부분은 반드시 복사해서 가져가세요~*/
.turn .plus {
    transform: rotate(180deg);
}

/*footer*/
#footer {
    background: #fffffd url(../images/footer_bg.png) no-repeat;
    width: 100%;
    height: 527px;
    font-size: 14px;
}

.footer_inner {
    margin: 0 auto;
    width: 1100px;
    display: flex;
    justify-content: space-around;
    padding-top: 200px;
}

.footer_inner ul li {
    padding: 10px 0;
}

.footer_logo {
    padding-bottom: 60px;
}

.basic_content ul li {
    padding-right: 50px;
}

.logo_box {
    display: flex;
}

.logo_box p {
    padding-left: 30px;
    font-size: 25px;
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    padding: 20px;
}

.basic1,
.basic2 {
    display: flex;
}

.quick,
.call_center {
    padding-top: 40px;
}

.bold {
    font-weight: bold;
}

.big {
    font-size: 16px;
    font-weight: bold;
}

.small {
    font-size: 12px;
}